.navbar {
  padding: 20px 0;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  background-color: #2196F3;
  .container {
    .logo {
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 2px;
      &:hover {
        text-decoration: none;
        color: #dddddd;
      }
    }
    .nav {
      padding: 0;
      margin: 0;
      list-style-type: none;
      a {
        color: #ffffff;
        text-decoration: none;
        margin-left: 40px;
        &:hover {
          color: #dddddd;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    .container {
      flex-direction: column;
      flex-wrap: wrap;
      .nav {
        display: flex;
        justify-content: space-between;
        a {
          margin-left: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .navbar {
    .container {
      text-align: center;
      .nav {
        margin-top: 20px;
        flex-direction: column;
      }
    }
  }
}

